<!-- <button (click)="onAddCart()">Add to cart</button>
<br><br>
<p>{{msg}}</p>

<input type="text" value="myinputtext" (click)="onInputClick($event)"> -->
<!-- <br><br><br> -->

<!-- <button value="Laptop " (click)="onAddCart($event)">Laptop</button>
<button value="Mobile " (click)="onAddCart($event)">Mobile</button>
<button value="TV " (click)="onAddCart($event)">TV</button>
<button value="Washine Machine " (click)="onAddCart($event)">Washine Machine</button>

<p>{{msg}}</p> -->

<input #inputInfo type="text" name="Anupam"  value="funmintraj">

<button (click)= "getInputInfo(inputInfo)">Get Info</button>